body
{
    color: whitesmoke;
    background-color: blue;
}
.heading
{
    width: 80%;
    font-size: 22px;
}
.name_of_object,#result_object_name,#result_object_accuracy
{
    color: chartreuse;
}
#camera,#output
{
    border: 2px dashed lime;
    height: 300px;
    width: 350px;
}